.colorButton{
    background-color: rgb(255,0,0);
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 50%;
    margin: 10px;
}

#buttonWrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}

h1{
    text-align: center;
}

#colorValue{
    margin: 30px;
    text-align: center;
}

#answer{
    margin: 30px;
    text-align: center;
}

#reset{
    margin: 30px;
    text-align: center;
}

#resetButton{
    padding: 10px;
    background: none;
    border: 1px solid #000;
    margin: 10px;
}

body {
    font-family: verdana;
    padding: 0;
    margin: 0;
}

#colorBox {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 25px;
    background-color: red;
    animation-name: rainbow;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes rainbow {
    0%   {background-color: red;}
    18%  {background-color: orange;}
    34%  {background-color: yellow;}
    50%  {background-color: green;}
    66%  {background-color: blue;}
    82%  {background-color: purple;}
    100% {background-color: red;}
  }

  #RGBVideo {
      display: block;
      margin: 0 auto;
  }

  h3 {
      text-align: center;
  }

  h4 {
      text-align: center;
  }